[project]
name = 'stackscoop'
description = 'Bitcoin-Anchored Community Transparency Ledger on Stacks blockchain'
authors = []
telemetry = true
cache_dir = './.cache'

[contracts.stackscoop]
path = 'contracts/stackscoop.clar'
clarity_version = 3
epoch = 'latest'

[repl.analysis]
passes = ['check_checker']

[repl.analysis.check_checker]
strict = false
trusted_sender = false
trusted_caller = false
callee_filter = false

[repl.remote_data]
enabled = false
api_url = 'https://api.hiro.so'


